{
  "extends": [
    "react-app",
    "plugin:sonarjs/recommended",
    "airbnb",
    "prettier"
  ],
  "plugins": ["sonarjs", "prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "src"
        ]
      }
    }
  }
}
